@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@900&family=Source+Sans+Variable:opsz,wght@8..144,200..900&display=swap");

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/SourceSansPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.font-source {
  font-family: 'Source Sans Pro', sans-serif;
}

.font-bevietnam {
  font-family: 'Be Vietnam Pro', sans-serif;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

